<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style.css">
    <title>User</title>
</head>
<body>
    <%- include('../components/navbar') %> 
    <h1>Users (<%= users.length %>)</h1>
    <form action="/users">
        <label for="keyword">Find user: </label>
        <input type="text" name="keyword" id="keyword" placeholder="nama user">
        <button type="submit">find</button>
    </form>
    <ul>
        <% if (users.length > 0) {%> 
            <% users.forEach(function(user) { %> 
                <div class="containner-user">
                    <li class="user-list"><a href="/users/<%=user.id%> "><%= user.nama_user %></a></li>
                    <div class="containner-button">
                        <button><a href="/users/update/<%= user.id %> ">change</a></button>
                        <button><a href="/users/delete/<%= user.id %> ">delete</a></button>
                    </div>
                </div>
            <% }) %> 
        <% } else {%>
            <li>Data User Kosong</li>
        <% } %>  
    </ul>
    <h2>Regristrasi</h2>
    <a href="/users/create">Regustrasi</a>
    <%- include('../components/footer') %> 
</body>
</html>