<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/book.css">
    <title>Document</title>
</head>
<body>
    <div class="containner-main">
        <div class="containner-search-bar">
            <div class="search-with-icon">
                <form action="" method="get">
                    <input type="text" name="keyword">
                    <button type="submit" ><ion-icon name="search"></ion-icon></button>
                </form>
            </div>
        </div>
        <div class="containner-tambah">
            <a href="/books/create">Tambah</a>
        </div>
        <div class="containner-of-list-books">
            <div class="containner-list-books">
                <% if (books.length > 0) {%> 
                    <% books.forEach(function(book) { %> 
                        <div class="books">
                            <div class="books-img-edit">
                                <img src="/assets/uploud/<%= book.gambar %> " alt="gambar buku">
                                <div class="containner-buton-edit">
                                    <button><a href="/books/update/<%= book.id %> ">Edit</a></button>
                                    <button><a href="/books/delete/<%= book.id %> ">Hapus</a></button>
                                </div>
                            </div>
                            <div class="detail-book">
                                <h3><%= book.judul %> </h3>
                                <h4><%= book.nama_penulis %> </h4>
                                <p><%= book.kode %> </p>
                                <p><%= book.deskripsi %> </p>
                                <a href="/books/<%= book.id %> ">detail</a>
                            </div>
                        </div>
                    <% }) %> 
                <% } else {%>
                    <div class="data-kosong">
                        <p>Data Kosong</p>
                    </div>
                <% } %> 
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>
</html>