<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main-update">
        <form action="/books/update/<%= book.id %>" method="post" enctype="multipart/form-data">
            <div class="containner-input-update">
                <label for="">Nama Penulis</label>
                <input type="text" name="penulis" value="<%= book.nama_penulis %> ">
            </div>
            <div class="containner-input-update">
                <label for="">Judul Buku</label>
                <input type="text" name="judul" value="<%= book.judul %> ">
            </div>
            <div class="containner-input-update">
                <label for="">Tahun Rilis</label>
                <input type="date" name="tahun" value="<%= book.tahun_rilis %> ">
            </div>
            <div class="containner-input-update">
                <label for="">Kode</label>
                <input type="text" name="kode" value="<%= book.kode %> ">
            </div>
            <div class="containner-input-update">
                <label for="">Gambar</label>
                <input type="file" name="gambar" value="<%= book.gambar %> ">
            </div>
            <div class="containner-input-update">
                <label for="">Deskripsi</label>
                <textarea name="deskripsi" id="" cols="30" rows="10" placeholder="<%= book.deskripsi %> "></textarea>
            </div>
            <button type="submit">ubah</button>
        </form>
    </div>
</body>
</html>